Repository ironcore-dev/metal, pull requests merged in 2024-01, with the labels that each got.

#422 remove stale onmetal-api refs
  apis/metal/v1alpha4/switch_test.go
  apis/metal/v1alpha4/switch_types.go
  apis/metal/v1alpha4/switchconfig_webhook.go
  apis/metal/v1alpha4/switchconfig_webhook_test.go
  apis/metal/v1alpha4/unit_test.go
  clientset/switch/v1beta1/client_test.go
  config/rbac/role.yaml
  controllers/benchmark/benchmark_controller.go
  controllers/inventory/access_controller.go
  controllers/machine/ipxe_controller.go
  controllers/machine/machine_pool_controller.go
  controllers/machine/machine_reservation_controller.go
  controllers/machine/onmetal_api_integration_test/ipxe_controller_test.go
  controllers/machine/onmetal_api_integration_test/machine_pool_controller_test.go
  controllers/machine/onmetal_api_integration_test/machine_reservation_controller_test.go
  controllers/machine/onmetal_api_integration_test/suite_test.go
  controllers/switch/controllers_test.go
  controllers/switch/ipam_controller.go
  controllers/switch/onboarding_controller.go
  controllers/switch/switch_controller.go
  go.mod
  go.sum
  irimachineprovider/main.go
  irimachineprovider/servers/grpc_server.go
  main.go
  openapi/zz_generated.openapi.go
  pkg/constants/switch.go
  pkg/switches/environment.go
  pkg/switches/helpers.go
  pkg/switches/helpers_test.go
Labels: size/XXL, controllers

#424 Add Docker image for IRI machine provider
  .github/dependabot.yml
  .github/workflows/publish-docker-irimachineprovider.yml
  Dockerfile
  irimachineprovider/Dockerfile
  irimachineprovider/main.go
Labels: size/L

#425 Fix NetworkSwitch webhooks
  apis/metal/v1alpha4/switch_webhook.go
  apis/metal/v1alpha4/switch_webhook_test.go
  config/samples/switch_v1alpha1_switch.yaml
  config/samples/switch_v1beta1_switch.yaml
  config/samples/switch_v1beta1_switchconfig.yaml
  controllers/switch/onboarding_controller.go
  test_samples/switch/inventories/leaf-1.inventory.yaml
  test_samples/switch/inventories/leaf-2.inventory.yaml
  test_samples/switch/inventories/spine-1.inventory.yaml
  test_samples/switch/inventories/spine-2.inventory.yaml
Labels: bug, controllers, size/L

#431 fix apiVersion set in ownerReferences in access-controller
  controllers/inventory/access_controller.go
Labels: bug, controllers, size/S
